<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registerpagestyle.css}">
</head>
<body>
<div class="container">
    <form class="form" th:action="@{/register}" th:object="${userAccount}" method="post">
        <div th:if="${param.error}">
            <div class="alert alert-danger">
                Invalid username and password.
            </div>
        </div>
        <div th:if="${param.successMessage}">
            <div class="alert alert-success">
                Registration successful. You can now log in.
            </div>
        </div>
        <h1>Registration page</h1>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" th:field="*{userName}" autofocus="autofocus" required="required" />
            <span class="error" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" th:field="*{userPassword}" required="required" />
            <span class="error" th:if="${#fields.hasErrors('userPassword')}" th:errors="*{userPassword}"></span>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" th:field="*{userEmail}" required="required" />
            <span class="error" th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}"></span>
            <span class="error" th:if="${#fields.hasErrors('userEmail') && #fields.getError('userEmail') != null && #fields.getError('userEmail').contains('email')}"
                  th:text="${#fields.getError('userEmail')}"></span>
        </div>
        <input type="submit" value="Register" />
        <p style="font-size: 12px; text-align: center;">Already have an account? <a href="/login">Log in</a></p>
    </form>
</div>
</body>
</html>
