<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet"  type="text/css" th:href="@{/css/startpagestyle.css}">
</head>
<body>
        <div class="start-page">
        </div>
        <div class="buttons">
            <button class="login-button" onclick="window.location.href='${app.url.login}'">Zaloguj się</button>
            <button class="register-button" onclick=window.location.href="http://localhost:8080/register">Zarejestruj się</button>
        </div>
</body>
</html>