<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  type="text/css" th:href="@{/css/treningipagestyle.css}">
</head>
<body>
<nav>
    <a href="http://localhost:8080/api/treningi">Treningi</a>
    <a href="http://localhost:8080/api/dodaj-notatki">Nowe notatki</a>
    <a href="http://localhost:8080/api/profil">Profil</a>
    <a th:href="@{/logout}">Wyloguj się</a>
    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Sign Out"/>
    </form>
</nav>
<h1>Moje notatki treningowe</h1>
<div class="notes">
    <div class="note">
        <h2>Tytuł notatki 1</h2>
        <p>Długość treningu: 60 minut</p>
        <p>Data rozpoczęcia: 1 stycznia 2023</p>
        <p>Data zakończenia: 2 stycznia 2023</p>
        <p>Opis notatki: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et semper mauris. Vestibulum laoreet, elit ut ultrices consectetur, velit velit sollicitudin velit, quis venenatis nulla massa sit amet sapien. Nam a nulla nec nibh consectetur porttitor. Donec blandit, elit nec vestibulum tempor, sapien ante cursus augue, at eleifend felis augue sed est.</p>
    </div>
    <div class="note">
        <h2>Tytuł notatki 2</h2>
        <p>Długość treningu: 45 minut</p>
        <p>Data rozpoczęcia: 10 stycznia 2023</p>
        <p>Data zakończenia: 10 stycznia 2023</p>
        <p>Opis notatki: Nulla facilisi. Suspendisse potenti. Pellentesque tristique, nunc vel commodo elementum, massa tellus venenatis magna, sed commodo risus nibh eu nulla. Curabitur commodo dui at neque vulputate, a vestibulum dolor faucibus. Sed vitae erat eget metus ullamcorper pretium. Nunc vel erat sit amet nunc elementum semper.</p>
    </div>
    <!-- kolejne notatki -->
</div>

</body>
</html>